*{

}
.center{
    border: solid 1px black;
    margin: auto;
    width: 30%;
    background-color:  gray;
}
input {
    margin-left: 60px;
   height: 30px;
   width: 300px;
   border-radius: 20px;

}
button{
    margin-left: 60px;
   height: 30px;
   width: 310px;
   border-radius: 20px;
}
#result1{
    text-align: center;
    color: aquamarine;
}